.login_table {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.layout {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar-test {
  width: 500px;
}
