{
  "presets": [
    [
			"@babel/preset-env",
			{
				"modules": "auto",
				"loose": true,
				"useBuiltIns": "usage",
				"corejs": { "version": "3.21.1", "proposals": true }
			}
		],
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    "@babel/plugin-transform-runtime"
  ]
}